<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.2/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../static/css/estilo.css" th:href="@{/css/estilo.css}">
    <link rel="stylesheet" href="../static/css/menu.css" th:href="@{/css/menu.css}">
    <link rel="stylesheet" href="https://use.typekit.net/oov2wcw.css">
</head>

<body>
    <div th:include="menu"></div>
<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <h2>Artículos</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-md-4 mb-3" th:each="articuloDto : ${articulosDto}">
                    <div class="card">
                        <a th:href="@{'/articuloDto/' + ${articuloDto.id}}" style="text-decoration: none; color: inherit;">
                            <img th:src="'data:image/jpeg;base64,' + ${articuloDto.imagen}" class="card-img-top" alt="Imagen del artículo">
                            <div class="card-body">
                                <h5 class="card-title" th:text="${articuloDto.titulo}">Título del artículo</h5>
                                <p class="card-text" th:text="${articuloDto.contenido}">Contenido del artículo</p>
                            	<p class="card-text"><small class="text-muted" th:text="${#dates.format(articuloDto.fechaPublicacion, 'dd/MM/yyyy HH:mm:ss')}">Fecha de publicación</small></p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:if="${not #strings.isEmpty(noAdmin)}">
    mostrarNotificacion("¡Prohibido!", "No tiene permisos para acceder a este recurso", 'error');
</script>
<script src="@{/webjars/jquery/jquery.min.js}"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script th:src="@{/script/script.js}"></script>
</body>
</html>
