<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Solicitar recuperación</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<link rel="stylesheet" href="../static/css/estilo.css" th:href="@{/css/estilo.css}">
	<script th:src="@{/script/script.js}"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
		crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
	<link rel="stylesheet" href="https://use.typekit.net/oov2wcw.css">
</head>

<body>
<div th:include="${authentication != null} ? menu : menuInicio"></div>
	<h2 class="text-center mb-5"><i style="color: green;"> Solicitar recuperación de contraseña</i></h2>
	<div class="container py-4">
		<div class="cardPrincipal">
			<form class="custom-form" th:action="@{/auth/iniciarRecuperacion}" enctype="multipart/form-data"
				th:object="${usuarioDto}" method="post">

				<div class="mb-5 mt-5">
					<label for="email" class="form-label textoPrincipal">Correo electrónico</label>
					<input type="email" th:field="*{emailUsuario}" class="form-control" id="email"
						placeholder="Introduzca su correo electronico" required autofocus />
				</div>
				<div class="text-right">
					<button type="submit" class="btn btn-primary">Enviar</button>
				</div>
				<div class="text-center mt-4">
					<div class="textoPrincipal"><b>Se le enviará un email a su bandeja de entrada con el procedimiento a
							seguir para que pueda recuperar su contraseña de forma segura.</b></div>
				</div>
			</form>
		</div>
	</div>
	<div class="vg-footer bg-dark bg-gradient">
		<div class="container d-flex justify-content-between align-items-center">
			<p class="text-center mb-0 mt-1 footer-p">Copyright © 2024 - Periodico Primavera Todos los Derechos
				Reservados</p>
			<ul class="nav list-unstyled d-flex">
				<li class="ms-3"><a class="text-white" href="#"><i class="bi bi-twitter-x fs-4"></i></a></li>
				<li class="ms-3"><a class="text-white" href="#"><i class="bi bi-facebook fs-4"></i></a></li>
				<li class="ms-3"><a class="text-white" href="#"><i class="bi bi-instagram fs-4"></i></a></li>
			</ul>
		</div>
	</div>
	<script th:if="${not #strings.isEmpty(mensajeErrorMail)}">
		mostrarNotificacion("¡Cuenta de correo electrónico no encontrada!", "Se ha producido un error en el proceso de recuperación, por favor revise la información ingresada.", 'error');
	</script>
	<script th:if="${not #strings.isEmpty(contraseñaModificadaError)}">
		mostrarNotificacion("¡Error!", "Ha ocurrido un error al reestablecer la contraseña", 'error');
	</script>
	<script th:if="${not #strings.isEmpty(mensajeErrorTokenValidez)}">
		mostrarNotificacion("¡El enlace no es válido!", "Si necesita restablecer su contraseña, inicie el proceso de recuperación de nuevo", 'error');
	</script>
	<script th:if="${not #strings.isEmpty(mensajeErrorTokenExpirado)}">
		mostrarNotificacion("¡El enlace ha caducado!", "Por favor, vuelva iniciar el proceso de solicitar la recuperación de contraseña", 'error');
	</script>
	<script th:if="${not #strings.isEmpty(error)}">
		mostrarNotificacion("¡Error!", "Ocurrio un error no esperado, intentelo de nuevo", 'error');
	</script>
</body>

</html>